<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Courses</th>
        <th>
          <div class="btn-group pull-right">
              <button type="button" mat-raised-button color="accent" (click)="saveStudent()">
                <mat-icon>save_edit</mat-icon>
              </button>
              <button type="button" mat-raised-button color="warn" [disabled]="disableAddButton" (click)="addStudent()">
                  <mat-icon>create</mat-icon>
              </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentArray; let i = index">
        <th *ngIf="student.editMode === false" scope="row">{{ student.id }}</th>
        <td *ngIf="student.editMode === false">{{ student.firstName }}</td>
        <td *ngIf="student.editMode === false">{{ student.lastName }}</td>
        <td *ngIf="student.editMode === false">{{ student.course }}</td>

        <th *ngIf="student.editMode" scope="row">
          <input [(ngModel)]="student.id" type="text" class="form-control" placeholder="ID">
        </th>
        <td *ngIf="student.editMode">
            <input [(ngModel)]="student.firstName" type="text" class="form-control" placeholder="First Name">
        </td>
        <td *ngIf="student.editMode">
            <input [(ngModel)]="student.lastName" type="text" class="form-control" placeholder="Last Name">
        </td>
        <td *ngIf="student.editMode">
            <input [(ngModel)]="student.course" type="text" class="form-control" placeholder="Course">
        </td>

        <td>
          <button type="button" class="pull-right" mat-raised-button color="warn" (click)="removeStudent(i)">
              <mat-icon>delete_sweep</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>   