<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Condition X</th>
      <th scope="col">Condition Y</th>
      <th scope="col">Not X (!X)</th>
      <th scope="col">Not Y (!Y)</th>
      <th scope="col">X && Y</th>
      <th scope="col">X || Y</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row">
      <td>{{condX}}</td>
      <td>{{condY}}</td>
      <td>{{!condX}}</td>
      <td>{{!condY}}</td>
      <td>{{condX && condY}}</td>
      <td>{{condX || condY}}</td>
    </tr>
    <tr scope="row">
      <td>{{r2CondX}}</td>
      <td>{{r2CondY}}</td>
      <td>{{!r2CondX}}</td>
      <td>{{!r2CondY}}</td>
      <td>{{r2CondX && r2CondY}}</td>
      <td>{{r2CondX || r2CondY}}</td>
    </tr>
    <tr scope="row">
      <td>{{r3CondX}}</td>
      <td>{{r3CondY}}</td>
      <td>{{!r3CondX}}</td>
      <td>{{!r3CondY}}</td>
      <td>{{r3CondX && r3CondY}}</td>
      <td>{{r3CondX || r3CondY}}</td>
    </tr>
    <tr scope="row">
      <td>{{r4CondX}}</td>
      <td>{{r4CondY}}</td>
      <td>{{!r4CondX}}</td>
      <td>{{!r4CondY}}</td>
      <td>{{r4CondX && r4CondY}}</td>
      <td>{{r4CondX || r4CondY}}</td>
    </tr>
  </tbody>
</table>
