<mat-toolbar color="accent" class="toolbar">
  <div class="row-one">
    <div class="container-padding">
      <button mat-button class="menu">Menu</button>
    </div>
    <div id="r1c2" class="container-padding">
      <button (click)="navigateTo('')" class="nav-buttons" type="button" mat-raised-button color="warn">
        Home
      </button>
      <button (click)="navigateTo('courses')" class="nav-buttons" type="button" mat-raised-button color="warn">
        Courses
      </button>
    </div>
    <div class="container-padding">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
      <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->

    </div>
  </div>
</mat-toolbar>

<!-- <header class="main-header">
  <span class="align-center">r1c1</span>
  <div id="banner" class="align-center" (mouseenter)="showGreeting()" (mouseleave)="hideGreeting()">r1c2</div>
  <div class="align-center">r1c3</div>
</header> -->
